# Azure Communication Email configuration
AZURE_EMAIL_CONNECTION_STRING=endpoint=https://satviancommunications.unitedstates.communication.azure.com/;accesskey=YOUR_ACCESS_KEY_HERE
AZURE_EMAIL_FROM_ADDRESS=no-reply@satvian.com
AZURE_EMAIL_RECIPIENTS=recipient1@example.com,recipient2@example.com
